.footer {
    display: grid;
    grid-template-areas: 'contact links' 'copyright copyright';
    justify-content: space-between;
    background-color: var(--primary-color);
    color: white;
    padding: 20px 5%;
}

.links {
    grid-area: links;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;

    a {
        color: white;
    }
}

.contactWrapper {
    grid-area: contact;

    a {
        color: white;
        text-decoration: underline;
    }

    address {
        font-style: normal;
    }
}

.copyright {
    grid-area: copyright;
    text-align: center;
}