$mobile-breakpoint: 767px;

.header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: max-content 1fr auto;
    grid-template-areas: 'headshot title nav';
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;

    @media (max-width: $mobile-breakpoint) {
        grid-template-columns: 1fr;
        grid-template-areas: 'headshot' 'title' 'nav';
    }
}

.title {
    grid-area: title;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    color: white;
    text-align: center;

    a {
        color: inherit;
    }
}

.headShot {
    grid-area: headshot;
    margin: 0 auto;

    .borderCircle {
        border-radius: 9999px;
        padding: 5px !important;
        border: 3px solid white !important;
    }
}

.nav {
    grid-area: nav;

    @media (max-width: $mobile-breakpoint) {
        text-align: center;
    }
}