$mobile-breakpoint: 767px;

.header {
    $primary-color: rgb(33, 55, 95);
    background: linear-gradient(90deg, $primary-color, lighten($primary-color, 30%) 50%, $primary-color 100%);
    background-size: 200%;
    display: grid;
    grid-template-columns: max-content 1fr auto;
    grid-template-areas: 'headshot title nav';
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    transition: background-position 1s;

    @media (max-width: $mobile-breakpoint) {
        grid-template-columns: 1fr;
        grid-template-areas: 'headshot' 'title' 'nav';
    }

    &:hover {
        background-position: right;
    }
}

.title {
    grid-area: title;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    color: white;
    text-align: center;

    a {
        color: inherit;
    }
}

.headShot {
    grid-area: headshot;
    margin: 0 auto;

    .borderCircle {
        border-radius: 9999px;
        padding: 5px !important;
        border: 3px solid white !important;
    }
}

.nav {
    grid-area: nav;
}