$mobile-breakpoint: 767px;

.wrapper {
    display: flex;
    gap: 16px;
    align-items: center;

    a {
        display: flex;
        color: #fff;
        font-size: 1rem;
    
        svg {
            height: 1.5em;
            margin: 0 .5em;
        }
    }

    @media (max-width: 767px) {
        flex-direction: column;
    }
}